PL/Connected Services/WS/Cer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cer.WsFactService.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cer.WsFactService.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MessageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HaveError" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XmlBase64" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageResponse" nillable="true" type="tns:MessageResponse" />
</xs:schema>