PL/Connected Services/WS/Cer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://int.certifac.mx:9006/Cer.WsFactService.WsFact.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cer.WsFactService.Request" />
  <xs:import schemaLocation="https://int.certifac.mx:9006/Cer.WsFactService.WsFact.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Cer.WsFactService.Response" />
  <xs:element name="ProcessDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Cer.WsFactService.Request" minOccurs="0" name="request" nillable="true" type="q1:MessageRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Cer.WsFactService.Response" minOccurs="0" name="ProcessDocumentResult" nillable="true" type="q2:MessageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>